body {
    background-color: darkgray;
}

H1 { 
    text-align: center;
    margin-bottom: 50px; 
}

#imagecontainer {
    display: flex; 
    justify-content: center;
    gap: 200px; 
}

#playerchoice {
    width: 250px;
    height: 250px; 
    border: 3px solid #555;
    padding: 15px; 
}

#compchoice {
    width: 250px;
    height: 250px; 
    border: 3px solid #555;
    padding: 15px; 
}

#players {
    display: flex;
    justify-content: center;
    gap: 445px; 
}

#score {
    display: flex; 
    justify-content: center;
    gap: 335px; 
}

#choosetype {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
}

#water {
    width: 50px;
    height: 50px; 
}

#fire {
    width: 50px;
    height: 50px; 
}

#grass {
    width: 50px;
    height: 50px; 
}

#textbox {
    text-align: center; 
    margin-top: 30px; 
}

.dot {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }

.divider {
    width:20px;
    height:auto;
    display:inline-block;
}


